@mixin flexdisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Media Query
@mixin mobile-large {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
  
  @mixin ipad-small {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin ipad-large {
    @media screen and (min-width: 992px) {
      @content;
    }
  }
  
  @mixin ipad-xl {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: 1400px) {
      @content;
    }
  }

  @mixin landscape {
    @media screen and (max-height: 450px) {
      @content;
    }
  }